.lead__figure-caption {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 8px;
}

@media screen and (max-width: 1023px) {
    .lead__figure-caption {
        max-width: 720px;
        margin: 8px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .lead__figure-caption {
        max-width: unset;
        padding: 0 16px;
    }
}


