.photo-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        margin-left: -7px;
        margin-right: -7px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        margin-left: -8px;
        margin-right: -8px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        margin: 0;
    }
}