.cover__subtitle {
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    max-width: 350px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
    }
}