.photo-grid__wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media screen and (max-width: 1279px) {
    .photo-grid__wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__wrapper {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}

