.lead__subtitle {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    max-width: 640px;
    margin: 0 auto 64px;
    line-height: 1.2;
    font-family: 'Inter',sans-serif;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        margin: 0 auto 40px;
    }
}