.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 245px 0;
    background-image: url('../../images/__background.jpg');
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.cover:hover:after {
    opacity: .8;
}

.cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: .3;
    transition: opacity ease .6s;
}

@media screen and (max-width: 1279px) {
    .cover {
        padding: 195px 0;
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        padding: 115px 0;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        padding: 33px;
        width: calc(100vw - 66px);
        min-height: 200px;
    }
}

