.container {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .container {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: unset;
        padding: 0 16px;
    }
}